body {
    background-image: url(./images/414769.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-shadow: 0 0 5px black, 0 0 5px black;
}

.App{
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
}

.member-list {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.member-card {
    background-color: rgba(228, 218, 85, 0.719);
    border: 2px solid black;
    padding: 2%;
    text-align: center;
    width: 20%;
    margin: 10px;
}

.forms {
    color: white;
    font-weight: bold;
}

input {
    margin: 10px;
    height: 18px;
    background-color: rgb(109, 169, 218);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

input:hover {
    background-color: aliceblue;
    transition: 0.3s ease;
    color: black;
}

input:focus {
    background-color: aliceblue;
    transition: 0.3s ease;
    color: black;
}

select {
    margin: 10px;
    background-color: rgb(130, 160, 214);
    color: white;
}

#submitButton {
    width: 10%;
    height: 20px;
}

form {
    margin-top: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
