@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-image: url(./images/414769.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-shadow: 0 0 5px black, 0 0 5px black;
    font-family: 'Montserrat', sans-serif;
}

.App{
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
}

.member-list {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.member-card {
    background-color: rgba(10, 14, 20, 0.671);
    border: 2px solid black;
    padding: 2%;
    text-align: center;
    width: 20%;
    margin: 10px;
}

.edit {
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    background: rgb(209, 199, 54);
}

.forms {
    color: white;
    font-weight: bold;
}

input {
    margin: 10px;
    height: 18px;
    background-color: rgb(136, 170, 233);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

input:hover {
    background-color: aliceblue;
    transition: 0.3s ease;
    color: black;
}

input:focus {
    background-color: aliceblue;
    transition: 0.3s ease;
    color: black;
}

select {
    margin: 10px;
    background-color: rgb(209, 199, 54);
    color: black;
}

#submitButton {
    width: 10%;
    height: 20px;
}

form {
    margin-top: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
